# Dependencies
node_modules

# Next.js build output
.next
out

# Production build
dist
dist-ssr

# Environment variables
.env
.env.*
*.local

# Database
prisma/*.db
prisma/*.db-journal

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
CLAUDE.md
# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/__tests__